<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>

<body>
    <a href="home">Home</a>
    <h1>Professor Francisco Lucas Janesch Lange Sens</h1>
    <ul>
        <li>Telefone: (47) 98801-6330</li>
        <li>E-mail: franciscosensaulas@gmail.com</li>
        <li>GitHub: franciscosensaulas</li>
        <li>Canal YouTube: https://youtube.com/franciscosens</li>
    </ul>
</body>

</html>